/**
* -----------------------------------
* #. TABLE OF CONTENTS
* -----------------------------------
* Below is a list styles per every section.
* 
* 1. Default
* 2. Authentication (Login, Registration, Forgot Password)
* 3. Forms
* 4. Sidebar
*/

// 1. Default
html,
body {
  font-family: $fonts-family-raleway !important;
  color: $color-dark-blue !important;
}
ul li,
ol li,
h1, h2, h3, h4, h5,
p {
  color: $color-dark-blue !important;
}
.logo {
  width: 300px;
  height: 50px;
  text-align: center;
}
.crvena {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
@keyframes appear {
  0% {
    opacity: 0;
  }
}
form.login-form{
  text-align: left;
  border: 1px solid #eeeeee;
  padding: 30px;
  border-radius: 5px;
}

// 2. Authentication (Login, Registration, Forgot Password)
#container-wrapper {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#container-wrapper.wizard{
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
  display: block;
}
// -----

.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref {
  position: relative;
}
h1.mb-0.font-weight-900 {
  font-size: 3rem;
  line-height: 3.2rem;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.links > a {
  padding: 0 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.links.text-muted > a {
  color: #6c757d !important;
}
.o2forms hr{
  border: 0px solid;
}

// WIZARD FORM
#wizard-form .steps-content {
  margin-top: 15px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 400px;
  padding: 20px;
}

#wizard-form .ant-steps-item-title {
  font-size: 12px;
  font-weight: 600;
}
#wizard-form .ant-btn{
  padding-left: 15px;
  padding-right: 15px;
  line-height: inherit;
  min-width: 150px;
}
#wizard-form .ant-btn .anticon{
  line-height: initial !important;
  font-size: 12px;
}
.ant-btn svg {
  vertical-align: initial;
}